<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.number}"></td>
        <td><a th:href="@{/book/}+${book.bookId}+@{/detail}">detail</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>